body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.leaflet-container {
    height: 100vh;
}

.leaflet-popup-content-wrapper {
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.5);
}

.buttonPopup {
    &:hover {
        box-shadow: 1px 1px 7px 1px #fa824c;
    }
}
.buttonModal {
    &:hover {
        border-radius: 50%;
        box-shadow: 1px 1px 7px 1px grey;
    }
}
.buttonAdd {
    &:hover {
        box-shadow: 1px 1px 20px 1px #2364aa;
    }
}
/* 33CA7F */
